<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
/*AGREGAR FUENTE DE GOOGLE 
PEGAR EL LINK ACA EN CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}



h1{
	color:#0d6efd;
font-family: 'Roboto', sans-serif;
	font-weight:200;
}
h2, h3{
	color:##D9DBDE;;
}
h2{
	font-family: 'Roboto', sans-serif;
}
h5{
	color: black;
	font-size: bold;
}

h4 {
	color: white;
	padding: 1rem 2rem 1rem 2rem;
	text-align: center;
	font-size: 1.7rem;
	font-family: 'Roboto', sans-serif;

}

h6{
	color: white;
}
/*selector de ID para armar bloques estructuras
algo mas complejo que un color,aunque se puedes*/


html {

	font-size: 62.5%;
}

nav ul li a {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	color: #D9DBDE;
	text-decoration: none;
	font-size: 2rem;
	align-content: center;
	filter: brightness(80%);
	transition: transform 0.5s;
	color: black;
	height:.7vh;
}


header img{
	width: 100%;
	height: 100%;


}

body { min-height: 100vh; 
background-color: black;
}

p { font
	padding: 1rem 1rem 1rem 1rem;
}
nav{
	color: #0d6efd;
	background-color: #2C2A2A;
	display: flex;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
  

}
nav ul{
	align-content: center;
	align-items: center;
	list-style: none;
	font-size: 2rem;
	padding: 1rem;
}
nav ul li
{
	padding: 1.5rem;
}
nav ul li a:hover {
	filter: brightness(130%);
	transform: scale(1.1);
	z-index: 1;
	text-decoration: none;
	height: 2vh;
}

.animacion__footer
{
filter: brightness(80%);
transition: transform 0.3s;
}

.animacion__footer:hover {
	filter: brightness(130%);
	z-index: 1;
	transform: scale(1.2);
	text-decoration: none;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 3.5rem;
	font-weight:100 ;
	justify-content: space-around;
	background-color: #2C2A2A;
	color: #D9DBDE;
	
}


	#nav {
		grid-area: nav;
	}


	#header{
		grid-area: header;
	}

	#main {
		grid-area: main;
	}

	#footer{

		grid-area: footer;
	}

	.image{
		width:auto;
	}

	.ft{
		width: 250px;
		height: auto;
		margin: 1rem 2rem 1rem 2rem;
		object-fit: cover;
		filter: brightness(80%);
		transition: transform 0.7s;
		
	}
	.ft:hover {
		filter: brightness(130%);
		transform: scale(1.1);
		z-index: 1;
	}
	.blanc{
		color: white;
	}

	.contfo{
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-evenly;
	/* para version desktop == padding-right: 30rem;
	padding-left: 30rem;*/
}

.fondonegri {

background-color:#5B5858}
/*selector de clase*/
.text-colorgrey {
	color: grey;
} 

.text-colorwhite {
	color: white;
} 

.gif {
	max-width: auto;
	align-items: center;
}
}
.Boton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	text-decoration: none;
	height: 2rem;
	width: 7Rem;
	background-color:#8C1212;
	font-weight: bold;
	margin-left: 2rem;
	transition: .3s ease all;
	border-radius: 5px;
	filter: brightness(60%);

}
.Boton:hover{
	background-color: red;
	filter: brightness(120%);
}

/*creo clasespara facilitar alineacion de texto*/
.supergrande{
	font-size:3.5rem;
}
.semigrande{
	font-size: 1.5rem;
	font-weight: bold;
}
.grande{
	font-size:2rem;
}

.medio{
	font-size: 1.8rem;
}
.chico{
	font-size: 1rem;
}
.margin3{
	margin: 1rem 2rem 1rem 11rem;
}
.margin2{
	font-size: 2rem;
	text-align: center;
	padding: 2rem 1rem 1rem 1rem;

}
.fondooscuro{
	background-image: url(../img/fondo.png);
	background-size: cover ;
}

.paddingdere {
	padding: 1rem 1rem 1 rem 5 rem;
}


.text-grueso{
	font-weight:500 ;
}
.text-liviano{
	font-weight: 300;
}
.text-regular{
	font-weight: 400;
}
.itemc{
	align-content: space-between;
}

/*creo clases para alineacion de texto*/

.text-center{
	text-align: center;
}.text-left{
	text-align: left;
}.text-right{
	text-align: right;
}

.padding3{
	padding: 1rem 2rem 1rem 2rem;
}
.paddinglogo{
	padding: 2rem 1rem 1rem 2rem;
}

.paddingyo{
	padding: 0rem 1rem .5rem 1rem;
}
.paddingfo{
	margin: 5rem 1rem 3rem 1rem;
;
  	
}
.brd{
	border-radius: 11.375rem;
}

.paddingb{
	padding-bottom: 4rem;
}
.offcanvas {
	background-color:#5B5858;
	display: flex;
	flex-direction: column;
}
.contenedorgrid{
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns:1;		
	grid-template-areas:
	"nav"
	"header"
	"main"
	"footer"}

/*media queries 768 HOME*/
@media(min-width: 768px) 
{
	.contenedorgrid {
		grid-gap: 7px;
	}
}

/*media queries 1024 HOME*/
@media(min-width: 1024px) 
{
	.contenedorgrid {
		grid-template-columns:repeat(2, 1fr);
		grid-template-areas: 
		"nav nav"
		"main header"
		"footer footer";
		grid-gap: 7px;
	}}


/* mobile firt comienzo contactos*/
.contenedorgridcont{
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns:1;		
	grid-template-rows: auto;
	grid-template-areas:
	"nav"
	"header"
	"main"
	"footer"

}

/*media queries 768 contactos*/
@media(min-width:768px)
{
	.contenedorgridcont{
		grid-template-columns:repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav "
		"main header"
		"footer footer";

	}


/*media queries 1024 contactos*/
@media(min-width:1024px) 
{
	.contenedorgridcont{
		grid-template-columns:repeat(3, 1fr);
		grid-gap:8px;
		grid-template-areas: 
		"nav nav nav"
		"main header header"
		"main header  header"
		"footer footer footer";
	}

}

/*media queries tour */
.contenedorgridtour{
	width: 100vw;	
	height: 100vh;
	display:grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-areas: 
	"nav "
	"header"
	"main"
	"footer ";
}


/*media queries tour 768px*/

@media(min-width:768px)
{
	.contenedorgridtour{
		display:grid;
		grid-template-columns:repeat(2);
		grid-template-rows:auto;
		grid-template-areas: 
		"nav nav "
		"main header"
		"footer footer";
	}
}

/*media queries 1024 tour*/
@media(min-width:1024px) 
{
	.contenedorgridtour{
		grid-gap:7px;

	}

	
}
/* mobile firt comienzo galeria*/
.contenedorgridgaleria{
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"nav"
	"header"
	"main"
	"footer";

}
@media(min-width:768px)
{
	.contenedorgridgaleria{
		grid-template-columns:repeat(4, 1fr);
		grid-template-areas:
		"nav nav nav nav"
		"header header header header"
		"main main main main"
		"footer footer footer footer";
	}
	nav div ul li{
		display: inline-block;
		align-content: center;
		justify-content: center;
		alignment-baseline: central;
	}
}

/*media queries 1024 GALERIA*/
@media(min-width: 1024px) 
{

	.contenedorgridgaleria{
		grid-template-columns:repeat(4, 1fr);

		grid-template-areas: 
		"nav nav nav nav"
		"header header header header"
		"main main main main"
		"footer footer footer footer";
	}
	


}
/* mobile firt comienzo discografia*/
.contenedorgriddisco{
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns:1fr;		
	grid-template-rows: auto;
	grid-template-areas:
	"nav"
	"header"
	"main"
	"footer"

}
/* mobile firt 768px discografia*/
@media(min-width:768px)
{
	.contenedorgriddisco{
		grid-template-columns:repeat(3, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav nav"
		"header header header"
		"main main main"
		"footer footer footer"
	}
	main div article{

		display: flex;
		justify-content: space-around;
		justify-items: space-around;
		flex-wrap: wrap;
}

@media(min-width:1024px){

	.contenedorgriddisco{
		grid-template-columns:repeat(, 1fr);
		grid-template-areas: 
		"nav nav nav"
		"header header"
		"main main main main"
		"footer footer footer"}

	}

.carousel{
	object-fit: cover;
	float: none;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
}
	.fondotour{
		background-image: url(../img/fondto.jpg);
		background-size: cover;
	}
	.flex1{
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		flex-direction: column;	}
	.flex2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-direction: column;	}
	.flexdisco {
		align-items:flex-end ;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

.fondogaledis{
		background-image: url(../img/bodyf.jpg);
}
.contsug{
	font-size: 3rem;
}

.bordercolo img{
	border: solid;
	border-color: white;
	border-style: double;
}

.borderdis img{
	border: solid;
	border-color: white;
	align-items: center;
	justify-content: center;
	align-content: center;}



	.animacion{
		animation: animation 5s linear infinite;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}

	@keyframes animation {
		0%{
			box-shadow: 0 0 0 0 rgba(203, 202,202, 5); box-shadow: 0 0 0 0 rgba(203, 202,202, 5);
		}
		30%{
			box-shadow: 0 0 0 3px rgba(203, 202,202, 5);box-shadow: 0 0 0 0 rgba(203, 202,202, 5);
		}
		60%{
			box-shadow: 0 0 0 3px rgba(203, 202,202, 5);box-shadow: 0 0 0 3px rgba(203, 202,202, 5);
		}
		95%{
			box-shadow: 0 0 0 0 rgba(203, 202,202, 5);box-shadow: 0 0 0 3px rgba(203, 202,202, 5);
		}

	}

.nav-link{
	font-size: 2rem;
	padding-bottom: 2rem;
	color:black;
	font-size: bold;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
transition: transform .3s ease-in-out;

}

.j{ display: flex;
	flex-direction: column;
	
	align-content: center;
	justify-content:center;
}

.fondomain{
background-image: url(../img/fp.jpg);

}