@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@media (min-width: 100px) {
  .contenedorgrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    grid-template-areas: "nav" "header" "main"  "footer";
    /*	background-image: map-get($map: $paletadefondos,$key:'uno');*/ }
  .contenedorgriddisco {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    grid-template-areas: "nav" "header" "main" "footer";
    /*background-image: map-get($map: $paletadefondos,$key:'dos');*/ }
  .contenedorgridgaleria {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    grid-template-areas: "nav" "header" "main" "footer"; }
  .contenedorgridtour {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    grid-template-areas: "nav" "header" "main" "footer"; }
  .contenedorgridcont {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    grid-template-areas: "nav" "header" "main" "footer";
    /*	background-image: map-get($map: $paletadefondos,$key:'tres');*/ }
  #form {
    display: flex !important;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 85%; } }

/*media queries 768 HOME*/
@media (min-width: 768px) {
  .navbar {
    height: 10vh; }
  nav div ul li {
    display: inline-block;
    align-content: center;
    justify-content: center;
    alignment-baseline: central; }
  .contenedorgrid {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    grid-template-areas: "nav nav" "header main" "footer footer"; }
  .contenedorgriddisco {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer"; }
  main div article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: columns;
    flex-wrap: wrap; }
  .contenedorgridgaleria {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "footer footer footer footer"; }
  .contenedorgridtour {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    grid-template-areas: "nav nav "  "header header" "main main"  "footer footer"; }
  .contenedorgridcont {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    grid-template-areas: "nav nav " "header header"  "main main" "footer footer"; } }

/*media queries 1024 HOME*/
@media (min-width: 1024px) {
  .contenedorgridcont {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 9px;
    grid-template-areas: "nav nav" "header header" "main main" "footer footer"; }
  .contenedorgridtour {
    grid-template-areas: "nav nav " "main header"  "footer footer";
    grid-gap: 5px; }
  .contenedorgridgaleria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav nav nav nav" "header header header header" "main main main main" "footer footer footer footer"; }
  .contenedorgriddisco {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer footer"; } }

.navbar {
  color: #0d6efd;
  background-color: #2C2A2A;
  display: flex;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  position: fixed; }
  .navbar .container-fluid ul {
    margin: auto;
    align-content: center;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 2rem; }
    .navbar .container-fluid ul li {
      padding: 1.5rem; }
      .navbar .container-fluid ul li a {
        font-family: "Varela Round", sans-serif;
        display: flex;
        align-items: center;
        color: #D9DBDE;
        text-decoration: none;
        font-size: 2rem;
        align-content: center;
        filter: brightness(80%);
        transition: transform 0.5s;
        height: .7vh; }
        .navbar .container-fluid ul li a:hover {
          filter: brightness(160%);
          transform: scale(1.2);
          z-index: 1;
          text-decoration: none;
          height: 2vh;
          color: white; }

.nav-link {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: black;
  font-size: bold;
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
  transition: transform .3s ease-in-out; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Varela Round", sans-serif;
  font-size: 3.5rem;
  font-weight: 100;
  background-color: #2C2A2A; }

h5 {
  font-size: 1.2rem;
  color: #D9DBDE;
  animation: animation 5s linear infinite;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; }

@keyframes animation {
  0% {
    box-shadow: 0 0 0 0 #cbcaca;
    box-shadow: 0 0 0 0 #cbcaca; }
  30% {
    box-shadow: 0 0 0 3px #cbcaca;
    box-shadow: 0 0 0 0 #cbcaca; }
  60% {
    box-shadow: 0 0 0 3px #cbcaca;
    box-shadow: 0 0 0 3px #cbcaca; }
  95% {
    box-shadow: 0 0 0 0 #cbcaca;
    box-shadow: 0 0 0 3px #cbcaca; } }

article img {
  filter: brightness(80%);
  transition: transform .4s; }
  article img:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    z-index: 1;
    background-color: #3D3D3DFF;
    border-radius: 2px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  min-height: 100%;
  background-image: linear-gradient(135deg, #282323FF, #141414FF, black);
  background-size: 300%;
  animation: anima 7s infinite linear alternate; }

@keyframes anima {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

header img {
  width: 100%;
  height: 100%; }

main div div {
  text-align: center; }

main div article {
  width: 250px;
  height: auto;
  margin: 1rem 2rem 1rem 2rem;
  object-fit: cover;
  filter: brightness(80%);
  transition: transform 0.7s; }
  main div article:hover {
    filter: brightness(110%);
    transform: scale(1.1);
    z-index: 1; }

main div div a {
  filter: brightness(80%);
  transition: transform 1s; }
  main div div a:hover {
    filter: brightness(130%);
    transform: scale(1.2);
    z-index: 1; }

p {
  text-align: justify;
  width: 85%;
  color: #D9DBDE;
  font-size: 1.5rem; }

h1 {
  font-weight: 500;
  background: linear-gradient(to right, #262626FF, #262626FF, #D9DBDE, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

h2, h3, h6, h5 {
  color: #D9DBDE;
  font-size: bold; }

h4 {
  color: #D9DBDE;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif; }

textarea {
  margin-left: 1rem;
  margin-right: 1rem;
  resize: none;
  background-color: azure; }

label {
  font-size: 1.5rem;
  color: #D9DBDE;
  margin: 0.7rem;
  margin-left: 18px; }

input {
  border-radius: 4px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: azure; }

select {
  background-color: azure; }

table {
  background-image: linear-gradient(135deg, #141414FF, #3D3D3DFF, #3D3D3DFF, #141414FF);
  background-size: 500%;
  animation: anima 8s infinite; }
  table td {
    font-size: 1.2rem;
    text-align: center;
    color: #D9DBDE; }
  table th {
    text-align: center;
    color: azure; }

.text-left {
  text-align: left; }

.paddingdere {
  padding: 1rem 1rem 1rem 5rem; }

.paddingto {
  margin: 4rem 0rem 0rem 0rem; }

.paddingfo {
  margin: 5rem 1rem 3rem 1rem; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: columns;
  flex-wrap: wrap; }

.flexdisco {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
  flex-direction: columns;
  flex-wrap: wrap; }

#nav {
  grid-area: nav; }

#header {
  grid-area: header; }

#main {
  grid-area: main; }

#footer {
  grid-area: footer; }

.carousel {
  margin: 4rem; }

.boton__cancelar, .boton__enviar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  height: 3rem;
  width: 7Rem;
  background-color: #D9DBDE;
  font-weight: bold;
  margin-left: 1rem;
  transition: .3s ease all;
  filter: brightness(80%); }
  .boton__cancelar:hover, .boton__enviar:hover {
    background-color: darkred;
    filter: brightness(100%); }

.boton__enviar:hover {
  background-color: darkgreen;
  filter: brightness(170%); }

/*@keyframes movimiento {
	from {
		background-position: bottom left;
	}
	to {
		background-position: top right;
	}
}

.movi{
	animation: movimiento 10s infinite linear alternate;
	
}*/
/*@keyframes animado{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}*/
