
footer {
	@include flex (flex, space-evenly , center ,center, row ,wrap);
	font-family:$letra__footer;
	font-size: 3.5rem;
	font-weight:100 ; 
	background-color: $color__nav_footer;
	width: 100%;

	h5 { font-size: $letra__chica;
		color: $color__blanco;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}
	article {
		img {
			filter: brightness(80%);
			transition: transform .4s;
			&:hover{
				filter: brightness(100%);
				transform: scale(1.1);
				z-index: 1;
				background-color:#3D3D3DFF;
				border-radius:2px;	
			}
		}
	}
	
}



