
@media(min-width:1px) 
{
	.contenedor__grid {
		@include grid (grid,100%, 100vh, 1, 0);
		grid-template-areas: "nav" "header" "main" "footer";
		main {
			background-image: url("../img/gig.webp");

		}
		
		footer {
			display: flex;
			align-content: flex-end;
			align-item:center;
			background: none;


			article img {
				background-color: rgba(255, 255, 255, .4);
				border-radius: 5px;
				&:hover {
					background-color: rgba(255, 255, 255, .8);
				}
			}
		}
		/*	background-image: map-get($map: $paletadefondos,$key:'uno');*/
	}
	//discografia//
	.contenedor__grid--disco{
		@include grid (grid,100%, 100vh, 1, 0);	
		grid-template-areas:
		"nav" "header" "main" "footer";
		/*background-image: map-get($map: $paletadefondos,$key:'dos');*/
	}
	//galeria//
	.contenedor__grid--galeria{
		@include grid (grid,100%, 100vh, 1, 0);	
		grid-template-areas:
		"nav" "header" "main" "footer";
		main{
			div{
				div{
					background-color:black;
				}
			}
		}
	}
	//TOUR//
	.contenedor__grid--tour{
		@include grid (grid,100%, 100vh, 1, 0);	
		grid-template-areas:
		"nav" "header" "main" "footer";
		h1 {
			padding-top:3rem;
		}

	}
	//CONTACTO//
	.contenedor__grid--contactos{
		@include grid (grid,100vw, 100vh, 1, 0);	
		grid-template-areas:
		"nav" "header" "main" "aside" "footer";
	}
	#form {
		display: flex !important;
		margin-top: 20px;
		margin-bottom: 20px;
		flex-direction: column;
		justify-content: center;
		width: 90%;
	}
}
/*media queries 768 HOME*/
@media(min-width: 768px) 

{ 
	.navbar{
		height: 9vh;
		padding-top: 1.5rem;}
		nav div ul li {
			display: inline-block;
			align-content: center;
			justify-content: center;
			alignment-baseline: central;
			
		}
		.contenedor__grid {
			@include grid (grid,100%, 100vh, 1, 0px);	
			main {
				background-image: url("../img/we.webp");
				p {
					width: 95%;
					font-size: 1.5rem;
				}

			}
			

			
		}
		//DISCOGRAFIA//
		.contenedor__grid--disco{
			@include grid (grid,100%, 100vh, 3, 7px);
			grid-template-areas: 
			"nav nav nav" "header header header"
			"main main main" "footer footer footer";
		}
		main div article{
			@include flex (flex, space-around, center , center ,columns, wrap);
		}
		//GALERIA/
		.contenedor__grid--galeria{
			@include grid (grid,100%, 100vh, 4, 7px);
			grid-template-areas:
			"nav nav nav nav" "header header header header"
			"main main main main" "footer footer footer footer";	
			.w-100 {
				height: 400px;}
			}
			
		//TOUR//
		.contenedor__grid--tour{
			@include grid (grid,100%, 100vh, 2,7px );
			grid-template-rows:7% auto 10% ;
			grid-template-areas: 
			"nav nav " 
			" main header"
			"footer footer";
			h1{
				font-size: 4rem;
				margin:4rem;
			}

		}
	//CONTACTO//
	.contenedor__grid--contactos{
		@include grid (grid,100vw, 100vh, 2, 7px);
		grid-template-areas: 
		"nav nav " 
		"header header" 
		"main main" 
		"aside aside"
		"footer footer";
		#form {
			width:80vw;
		}
		
	}
}

/*media queries 1024 HOME*/
@media(min-width: 1024px) 
{
	.contenedor__grid {

	}
//CONTACTS//
.contenedor__grid--contactos{
	@include grid (grid,100vw, 100vh, 2, 9px);
	grid-template-areas: 
	"nav nav"
	"header header"
	"main aside"
	"footer footer";
	#form {
		width:45vw;
	}
}
			//TOUR//
			.contenedor__grid--tour{
				grid-template-areas: 
				"nav nav " "main header" 
				"footer footer";
				grid-gap:5px;
				

			}
			//GALERIA//		
			.contenedor__grid--galeria{
				grid-template-columns:repeat(4, 1fr);
				grid-template-areas: 
				"nav nav nav nav"
				"header header header header"
				"main main main main"
				"footer footer footer footer";
				.w-100 {
					height: 660px;
					object-fit: cover;
				}
			}
			
		//discografia//
		.contenedor__grid--disco{
			grid-template-columns:repeat(3, 1fr);
			grid-template-areas: 
			"nav nav nav"
			"header header header"
			"main main main"
			"footer footer footer footer";
		}
	}


	
