
.navbar{
	margin: auto;
	color:$color__titulos;
	background-color:rgba(48, 57, 79, .5);
	display: flex;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
	position: fixed;
	.nav-link{
		font-size: 2rem;
		padding-bottom: 2rem;
		color:$color__negro;
		font-size: bold;
		font-weight: 400;
		font-family:$letra__footer;
		transition: transform .3s ease-in-out;

	}
	.navbar-toggler {
		background-color:#474747FF;
		border-color: black;
	}	
	.container-fluid{
		ul{ margin: auto;
			align-content: center;
			align-items: center;						
			list-style: none;
			font-size: 2rem;
			li{align-content: center;
				align-items: center;	
				padding: 1.5rem;
				
				a {
					font-family: $letra__footer;
					display: flex;
					flex-direction:column ;
					align-items: center;
					color: #FFFFFFFF;
					text-decoration: none;
					font-size: 2rem;
					align-content: center;
					filter: brightness(100%);
					transition: transform 0.5s;
					
					&:hover{
						filter: brightness(160%);
						transform: scale(1.2);
						z-index: 1;
						text-decoration: none;
						height: 2vh;
						color:white;

					}

				}


			}
		}
	}
}	

.nav-link{
	font-size: 2rem;
	padding-bottom: 2rem;
	color:$color__negro;
	font-size: bold;
	font-weight: 400;
	font-family:$letra__footer;
	transition: transform .3s ease-in-out;

}
