//imports//
@import "mixing";
@import "_vars";
@import "_mediaqueries";
@import "_navBar";
@import "_footer";
//configuracion general//
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {min-height: 100%; 
	background-image: linear-gradient(135deg, #282323FF, #141414FF,black);
	background-size: 300%;
	animation: anima 7s infinite linear alternate;
}
@keyframes anima{
		0%{
			background-position: 0% 50%;
		}
		50%{
			background-position: 100% 50%;
		}
		100%{
			background-position: 0% 50%;
		}
}


header img{ 
	
	width: 100%;
	height: 100%;
}
main div div {
	text-align: center;
}

main div article {
	width: 250px;
	height: auto;
	margin: 1rem 2rem 1rem 2rem;
	object-fit: cover;
	filter: brightness(80%);
	transition: transform 0.7s;
		&:hover{
			filter: brightness(110%);
			transform: scale(1.1);
			z-index: 1;
		}
}
main div div a{
			filter: brightness(80%);
			transition: transform 1s;
			&:hover{
				filter: brightness(130%);
				transform: scale(1.2);
				z-index: 1;
		
					}
		}

p { text-align: justify;
	width: 85%;
	color: map-get($map: $paletadecolor,$key:'dos');
	font-size: $letra__media;
}
h1{
	//degradado//
	font-weight: 500;
	background: linear-gradient(to right, #262626FF, #262626FF, $color__blanco, white
	);
		-webkit-background-clip:text;
		background-clip:text;
		-webkit-text-fill-color: transparent;
}
h2, h3 , h6 , h5{
	color:map-get($map: $paletadecolor,$key:'dos');
	font-size: bold;
}
h4 {
	color:map-get($map: $paletadecolor,$key:'dos');
	padding: 1rem 2rem 1rem 2rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

textarea {
	margin-left: 1rem;
	margin-right: 1rem;
	resize: none;
	background-color:map-get($map: $paletadecolor,$key:'cuatro');
}
label {
	font-size: $letra__media;
	color:map-get($map: $paletadecolor,$key:'dos');;
	margin: 0.7rem;
	margin-left: 18px;}
input {
	border-radius:4px;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color:map-get($map: $paletadecolor,$key:'cuatro');
}

select {
	background-color:map-get($map: $paletadecolor,$key:'cuatro');
}




table {
	background-image: linear-gradient(135deg, #141414FF, #3D3D3DFF,#3D3D3DFF, #141414FF);
	background-size: 500%;
	animation: anima 8s infinite;
	td{
		font-size: $letra__chica;
		text-align: center;
		color: map-get($map: $paletadecolor,$key:'dos');
	}
	th{
		text-align: center;
		color: map-get($map: $paletadecolor,$key:'cuatro');
	}
}.text-left{
	text-align: left;
}
.paddingdere {
	padding: 1rem 1rem 1rem 5rem;
}


.paddingto{
	margin: 4rem 0rem 0rem 0rem;
	;

}
.paddingfo{
	margin: 5rem 1rem 3rem 1rem;
}

.flex {
	@include flex (flex, space-around, center , center ,columns, wrap);
}

.flexdisco {
			@include flex (flex, space-evenly, flex-end, center ,columns, wrap);
}

//id areas del grid//
#nav {
	grid-area: nav;
}
#header{
	grid-area: header;
}
#main {
	grid-area: main;
}
#footer{

	grid-area: footer;
}

.carousel{
	margin: 4rem;
}
.boton__cancelar{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	text-decoration: none;
	height: 3rem;
	width: 7Rem;
	background-color:map-get($map: $paletadecolor,$key:'dos');
	font-weight: bold;
	margin-left: 1rem;
	transition: .3s ease all;
	filter: brightness(80%);
		&:hover{
			background-color:darkred;
			filter: brightness(100%);
		}
}
//extend //
.boton__enviar{
	@extend .boton__cancelar;
	&:hover{
			background-color:darkgreen;
			filter: brightness(170%);
		}
}
.navbar-toggler {
	background-color:#4F4F4FFF;
}
/*@keyframes movimiento {
	from {
		background-position: bottom left;
	}
	to {
		background-position: top right;
	}
}

.movi{
	animation: movimiento 10s infinite linear alternate;
	
}*/
/*@keyframes animado{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}*/